@model SpendSmart.Models.DoubleViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>

<form asp-controller="Expenses" asp-action="Index" method="get">
	<p>
		<select asp-for="ExpenseDescription" asp-items="Model.Descriptions">
			<option value="">All</option>
		</select>
		
		<label>Title: <input type="text" name="SearchString" /></label>
		<input type="submit" value="Filter" />
	</p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expenses![0].Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses![0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Expenses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
